[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
jupyter = "*"
ipython = "*"
matplotlib = "*"
geopandas = "*"

[dev-packages]

[requires]
python_version = "3.6"
